version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile   
    container_name: flask_web
    ports:
      - "8000:5000"
    volumes:
      - ./app:/app
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://postgres:password@db:5432/mydb
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    platform: linux/arm64   
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data: