version: '3.8'

services:
  db:
    env_file: .env
    image: postgres:15
    container_name: postgres_db 
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  web:
    env_file: .env
    build:
      context: .
      dockerfile: Dockerfile   
    container_name: flask_web
    ports:
      - "8000:5000"
    volumes:
      - ./app:/app
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=${DATABASE_URL}
      - FLASK_SECRET_KEY=${FLASK_SECRET_KEY_ENV}
    depends_on:
      - db
