<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CS353 - View Transfer Offers</title>
</head>

<body>
  <h1>Transfer Offers</h1>
  <table>
    <thead>
      <tr>
        <th>For Player</th>
        <th>Offering Team</th>
        <th>Offer Amount</th>
        <th>Available Until</th>
        <th>Decision</th>
      </tr>
    </thead>
    <tbody>
      {% for transfer_offer in transfer_offers %}
      <tr>
        <td>{{ transfer_offer['firstname'] }} {{ transfer_offer['lastname'] }}</td>
        <td>{{ transfer_offer['teamname']}}</td>
        <td>{{ transfer_offer['offeramount']}}</td>
        <td>{{ transfer_offer['availableuntil'] }}</td>
        <td>{{ transfer_offer['offeredenddate'] }}</td>
        <td><form name="decide_offer" action="{{ url_for('coach.evaluate_transfer_offer', offerid=transfer_offer['offerid']) }}" method="post">
          <button type="submit" name="decision" value="accept">Accept</button>
          <button type="submit" name="decision" value="reject">Reject</button>
        </form></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>