<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transfer Offer</title>
</head>

<body>
  <h1>Transfer Offer</h1>
  <h2>Player</h2>
  <ul>
    <li>Name: {{ player['firstname'] }} {{ player['lastname']}}</li>
    <li>Position: {{ player['position'] }}</li>
    <li>If we want more information, I have to improve the query and that's it</li>
  </ul>
  <form method="post">
    <label for="amount">Offer Amount</label>
    <input name="amount" type="number" min="0" required>
    <label for="availableUntil">Available Until</label>
    <input type="date" name="availableUntil" id="availableUntil" required>
    <button type="submit">Send Offer</button>
  </form>
  <script>
    const dateInput = document.getElementById('availableUntil')
    const date = new Date()
    dateInput.min = date.toISOString().substring(0, 10)
  </script>
</body>

</html>