<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/styles/index.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/index.js" defer></script>
  <title>CS353</title>
</head>

<body>
  <h1>Transfer Market</h1>
  <!-- Player filtering Section -->
  <form>
    <div style="display: flex;">
      <div>
        <label for="nationality">Nationality</label>
        <select name="nationality" id="nationality-filter">
          <option value="" selected>Any</option>
          {{ for nationality in nationalities }}
          <option value="{{ nationality['id'] }}">{{ nationality['name'] }}</option>
          {{ endfor }}
        </select>
      </div>
      <div>
        <label for="pos">Position</label>
        <select name="pos" id="position-filter">
          <option value="" selected>Any</option>
          {{ for position in positions }}
          <option value="{{ position['id'] }}">{{ position['name'] }}</option>
          {{ endfor }}
        </select>
      </div>
      <div>
        <label for="minAge">Minimum Age</label>
        <input type="number" id="minAge" name="minAge" min="15" max="200">
      </div>
      <div>
        <label for="maxAge">Maximum Age</label>
        <input type="number" id="maxAge" name="maxAge" min="15" max="200">
      </div>
      <div>
        <label for="Contact Expiration Date">Contact Expiration Date</label>
        <input type="date" id="contactExpirationDate" name="contactExpirationDate">
      </div>
      <div>
        <label for="team">Team</label>
        <select name="team" id="team-filter">
          <option value="" selected>-</option>
          {{ for team in teams }}
          <option value="{{ team['id'] }}">{{ team['name'] }}</option>
          {{ endfor }}
        </select>
      </div>
      <button id="filter-button">Filter</button>
    </div>
    <!-- Search by name -->
    <search style="display: flex;">
      <input type="text" id="search-input" placeholder="Search...">
      <button id="search-button">Search</button>
    </search>
  </form>

  <!-- Player Table Section -->
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Nationality</th>
        <th>Position</th>
        <th>Team</th>
        <th>Salary</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{ for player in players }}
      <tr>
        <td>{{ player['name'] }}</td>
        <td>{{ player['age'] }}</td>
        <td>{{ player['nationality'] }}</td>
        <td>{{ player['position'] }}</td>
        <td>{{ player['team'] }}</td>
        <td>{{ player['salary'] }}</td>
        <td><button><a href="{{url_for('transfer_offer')}}?playerId={{ player['id']}}">Offer</a></button></td>
      </tr>
      {{ endfor}}
    </tbody>
  </table>
  <div id="calendar"></div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Destructure the Calendar constructor
      const { Calendar } = window.VanillaCalendarPro;
      // Create a calendar instance and initialize it.
      const calendar = new Calendar('#calendar');
      calendar.init();
    });
  </script>
</body>

</html>